html, body{
  padding: 0%;
  margin: 0%;
  width: 100%;
}
body{
  font-family: 'Kaushan Script', cursive;
}

.title{
  text-align: center;
  background-color: #554062;
}

.title h1{
  font-size: 80px;
  color: #bd2424;
}

p{
  margin: 0
}

.project{
  background-color: #82bcf3;
}

.trans {
  height: 50px;
  background: linear-gradient(180deg, rgba(85,64,98,1) 30%, rgba(130,188,243,1) 100%);
}

.parallax-container{
  z-index: 1;
  height: 1000px;
}
