html, body{
  padding: 0%;
  margin: 0%;
  width: 100%;
}
body{
  font-family: 'Kaushan Script', cursive;
}
header .title{
  text-align: center;
  background-color: #554062;
}

header .title h1{
  font-size: 80px;
  color: #bd2424;
}

p{
  font-size: 10%;
}
.main{
  background-color: #82bcf3;
}

.trans {
  height: 50px;
  background: linear-gradient(180deg, rgba(85,64,98,1) 30%, rgba(91,80,117,1) 50%, rgba(130,188,243,1) 100%);
}

.project{
}

.project img{
  width: 100%;
}
